@tailwind base;
@tailwind components;
@tailwind utilities;


.main-container {
    padding: 2.5rem 0 3rem 0;
}

.head-text {
    color: #afafaf;
    font-size: 29px;
    font-weight: 700;
}

.main-container .child-main {
    width: 550px;
    padding: 0.5rem 0.2rem 1rem 0.2rem;
}

.number {
    font-weight: 600;
}

.pass-text {
    font-weight: 600;
}

.rounded-check {
    width: 28px;
    height: 28px;
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
}

.generate-btn {
    color: #fff9e1;
    font-weight: 600;
}

.checked-class {
    width: 30px;
    height: 30px;
    border: 1px solid #147fe4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.3rem;
    background: #147fe4;
}

.not-checked-class {
    /* width: 30px;
    height: 30px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: transparent; */
    transition: 0.2s all ease-in;
    padding: 0.3rem;
}

.not-checked-class:hover {
    transform: scale(1.1);
}

.check {
    width: 100%;
    height: 100%;
    color: #fff;
}


.passCur {
    overflow-x: scroll;
    overflow-y: hidden;
}
/* 
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #147fe4;
    height: 0.8rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background: #fff;
    height: 1.4rem;
    width: 0.9rem;
    border-radius: 25px;
} */